
@media screen and (min-width: 968px) {
  :root {
    --hue: 240;
    --z-modal: 1000;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

.modal__content input{
  color: #000000;
  display: none;
}

/* .modal__content input.error {
  border-color: #a94442;
} */

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, .8);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
}

.modal__content{
  width: 425px;
  position: relative;
  background: rgba(30, 30, 30, 0.60);
  /* #777; */
  padding: 20px 30px;
  border-radius: 22px;
  transition: all .3s;
  transform: translateY(10%);
}

.modal__img{
  width: 150px;
  margin-bottom: .75rem;
}

.modal__close{
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal__title h1{
  text-align: center;
  font-size: 28px;
  color: #FFF;
  font-weight: 500;
  line-height: 22px; /* 78.571% */
  letter-spacing: -0.28px;
}

.modal__title h1.authorization{
  margin: 70px 0px 60px;
}

.modal__title h1.registration{
  margin: 60px 0px 35px;
}

.modal__description{
  margin-bottom: 1.5rem;
}

.modal__button-width{
  width: 100%;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  font-weight: 500;
}

.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  transform: translateY(0);
}


@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}


.form-element{
	position: relative;
}

.modal__container .modal__content .form-element{
  margin: 0px 25px;
}

.modal__container .modal__content .form-element label{
  font-size: 14px;
  color: #FFF;
}

.modal__container .modal__content .form-element input[type="checkbox"]{
  margin: 6px 14px 36px 0px;
}

.modal__container .modal__content .form-element input[type="text"],
.modal__container .modal__content .form-element input[type="password"]{
  display: block;
  margin-top: 16px;
  width: 100%;
  padding: 15px 0px 15px 23px;
  outline: none;
  border: 1.4px solid rgba(255, 255, 255, 0.12);
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #FFF
}

.modal__container .modal__content .form-element.error input[type="text"],
.modal__container .modal__content .form-element.error input[type="password"] {
  /* border-color: var(--error-color); */
  background: rgba(255, 0, 0, 0.11);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.modal__container .modal__content .form-element.success input[type="text"],
.modal__container .modal__content .form-element.success input[type="password"] {
  /*background: rgba(0, 255, 85, 0.11);*/
  background: rgba(255, 255, 255, 0.08);
  /*box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);*/
}

.password-control {
	position: absolute;
	top: 8px;
  right: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;

	/* background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat; */
	background: url(https://img.icons8.com/material-outlined/24/FFFFFF/hide.png) 0 0 no-repeat;
}
.password-control.view {
	/* background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat; */
	background: url(https://img.icons8.com/material-outlined/24/FFFFFF/visible--v1.png) 0 0 no-repeat;
}

.modal__container .modal__content .form-element small {
  color: rgb(82 2 2);
  font-size: 90%;
  display: block;
  margin: 0.55rem 0rem 0rem 0.65rem;
}

.modal__container .modal__content .form-element button{
  position: relative;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 39px;
  cursor: pointer;
}

.button__text{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  transition: all 0.2s;
}

.modal__container .modal__content .form-element button.enter{
  background: rgba(30, 30, 30, 0.50);
  margin: 35px 0px 13px;
}

.modal__container .modal__content .form-element button.registration_1{
  background: #000000;
  margin-bottom: 44px;
}

.modal__container .modal__content .form-element button.registration_2{
  background: #000000;
  margin: 40px 0px 54px;
}

.modal__container .modal__content .form-element button.enter:hover {
  background: rgba(30, 30, 30, 0.64);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15) inset;
 }
 .modal__container .modal__content .form-element button.enter:active {
  background: rgba(30, 30, 30, 0.64);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15) inset;
 }

 .modal__container .modal__content .form-element button.registration_1:hover, 
 .modal__container .modal__content .form-element button.registration_2:hover{
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
 }
 .modal__container .modal__content .form-element button.registration_1:active,
 .modal__container .modal__content .form-element button.registration_2:active {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
 }

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.modal__container .modal__content .form-element a{
  display: block;
  margin: 5px 0px 5px 205px;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #C9C9C9;
  text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #C9C9C9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #C9C9C9;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #C9C9C9;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #C9C9C9;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #C9C9C9;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #C9C9C9;
}
