<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/normilize.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/test.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/authorization.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="modal__container" id="modal-container_1">
        <div class="modal__content">
            <div class="modal__close close-modal" title="Close">
                <i class='bx bx-x'></i>
            </div>
            <div class="modal__title">
                <h1 class="authorization">Авторизация</h1>
            </div>

            <form th:action="@{/login}" method="post">
            <div class="form-element">
                <input type="text" name="username" id="email_auth" placeholder="E-mail">
            </div>
            <div class="form-element">
                <input type="password" name="password" id="password_auth" placeholder="Пароль">
                <a href="#" class="password-control" onclick="return show_hide_password_auth(this);"></a>
            </div>
            <div class="form-element">
                <a href="#">Забыл пароль</a>
            </div>
            <div class="form-element">
                <button class="enter">
                    <span class="button__text">Войти</span>
                </button>
            </div>
            </form>
            <div class="form-element">
                <button class="registration_1" id="open-modal_2">
                    <span class="button__text">Зарегистрироваться</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal__container" id="modal-container_2">
        <div class="modal__content">
            <div class="modal__close close-modal" title="Close">
                <i class='bx bx-x'></i>
            </div>
            <div class="modal__title">
                <h1 class="registration">Регистрация</h1>
            </div>
            <form id="registration">
                <div class="form-element">
                    <input type="text" id="name" name="name" placeholder="Имя" readonly onfocus="this.removeAttribute('readonly');">
                    <small></small>
                </div>
                <div class="form-element">
                    <input type="text" id="surname" name="surname" placeholder="Фамилия" readonly onfocus="this.removeAttribute('readonly');">
                    <small></small>
                </div>
                <div class="form-element">
                    <input type="text" id="email" name="email" placeholder="E-mail" readonly onfocus="this.removeAttribute('readonly');">
                    <small></small>
                </div>
                <div class="form-element">
                    <input type="password" id="password" name="password" placeholder="Пароль" readonly onfocus="this.removeAttribute('readonly');">
                    <a href="#" class="password-control" onclick="return show_hide_password_reg(this);"></a>
                    <small></small>
                </div>
                <div class="form-element">
                    <input type="password" id="repeat_password" name="matchingPassword" placeholder="Повторите пароль" readonly onfocus="this.removeAttribute('readonly');">
                    <small></small>
                </div>
                <div class="form-element">
                    <button class="registration_2" id="button" type="submit">
                        <span class="button__text">Зарегистрироваться</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="js/modal.js"></script>
    <script src="js/main.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</body>
</html>