<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <link rel="stylesheet" href="css/reg_style.css">

        <title>Аuthorization</title>
    </head>
    <body>
        <section class="modal container">
            <!-- <a href="#" class="modal__button" id="open-modal">
                Кнопочка
            </a> -->
            <div class="center">
                <button type="submit" id="open-modal_1">
                    <img src="img/profile.png" alt="profile">
                </button>
            </div>

            <div class="modal__container" id="modal-container_1">
                <div class="modal__content">
                    <div class="modal__close close-modal" title="Close">
                        <i class='bx bx-x'></i>
                    </div>

                    <img src="assets/img/star-trophy.png" alt="" class="modal__img">
                    
                    <div class="modal__title">
                        <h1 class="authorization">Авторизация</h1>
                    </div>

                    <div th:if="${param.error}">
                        Invalid username and password.</div>
                    <div th:if="${param.logout}">
                        You have been logged out.</div>

                    <form th:action="@{/login}" method="post">
                    <div class="form-element">
                        <input type="text" name="username" id="email_auth" placeholder="E-mail">
                    </div>
                    <div class="form-element">
                        
                        <input type="password" name="password" id="password-auth" placeholder="Пароль">
                        <!-- <input type="button" id="toggle_button" onclick="toggle()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M4.00001 4L20 20M16.5 16.756C15.1474 17.4846 13.6186 18 12 18C8.46936 18 5.36636 15.5479 3.58693 13.7789C3.11722 13.3119 2.88241 13.0785 2.73292 12.6202C2.62631 12.2933 2.62628 11.7064 2.73292 11.3796C2.88246 10.9213 3.11776 10.6874 3.58839 10.2196C4.48528 9.32815 5.71813 8.26353 7.17232 7.4267M19.5 14.6336C19.8331 14.3407 20.1381 14.0525 20.4118 13.7805C20.8825 13.3126 21.1177 13.0787 21.2672 12.6204C21.3738 12.2936 21.3742 11.7067 21.2676 11.3799C21.1181 10.9216 20.8831 10.6881 20.4134 10.2211C18.634 8.45208 15.5307 6 12 6C11.6625 6 11.3289 6.02241 11 6.06448M13.3229 13.4999C12.9704 13.8111 12.5072 13.9999 12 13.9999C10.8954 13.9999 10 13.1045 10 11.9999C10 11.4604 10.2136 10.9708 10.5609 10.6111" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.58692 13.7789C5.36636 15.5479 8.46965 18 12.0003 18C15.531 18 18.634 15.5479 20.4134 13.7789L20.4142 13.778C20.8833 13.3117 21.1182 13.0782 21.2676 12.6202C21.3742 12.2934 21.3742 11.7066 21.2676 11.3798C21.1182 10.9218 20.8833 10.6883 20.4142 10.2219L20.4134 10.2211C18.634 8.45208 15.531 6 12.0003 6C8.46965 6 5.36636 8.45208 3.58692 10.2211C3.11726 10.688 2.88241 10.9215 2.73292 11.3798C2.6263 11.7066 2.6263 12.2934 2.73292 12.6202C2.8824 13.0785 3.11724 13.3119 3.58686 13.7788L3.58692 13.7789Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </input> -->
                    </div>
                    

                    <div class="form-element">
                        <a href="#">Забыл пароль</a>
                    </div>
                    <!-- <div class="form-element">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Запомнить меня</label>
                    </div> -->
                    <div class="form-element">
                        <button class="enter">Войти</button>
                    </div>

                    <div class="form-element">
                        <button class="registration_1" id="open-modal_2">Зарегистрироваться</button>
                    </div>

                    </form>
                </div>
            </div>



            <div class="modal__container" id="modal-container_2">
                <div class="modal__content">
                    <div class="modal__close close-modal" title="Close">
                        <i class='bx bx-x'></i>
                    </div>

                    <img src="assets/img/star-trophy.png" alt="" class="modal__img">

                    <div class="modal__title">
                        <h1 class="registration">Регистрация</h1>
                    </div>

                    <form method="post" >
                    <div class="form-element">
                        <input type="text" name="name" id="name" placeholder="Имя">
                    </div>
                    <div class="form-element">
                        <input type="text" name="surname" id="surname" placeholder="Фамилия">
                    </div>
                    <div class="form-element">
                        <input type="text" name="email" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-element">
                        <input type="password" name="password" id="password" placeholder="Пароль">
                    </div>
                    <div class="form-element">
                        <input type="password" name="matchingPassword" id="repeat_password" placeholder="Повторите пароль">
                    </div>

                    <!-- <div class="form-element">
                        <a href="#">Забыл пароль</a>
                    </div> -->
                    <!-- <div class="form-element">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Запомнить меня</label>
                    </div> -->
                    <div class="form-element">
                        <button class="registration_2" name="action" value="add">Зарегистрироваться</button>
                    </div>
                    </form>
                </div>
            </div>

        </section>

        <script src="js/main.js"></script>
    </body>
</html>