<html>

<body>
  <div>
    <form method="post" >
      <input type="text" name="email" placeholder="email" /><br></br>
      <input type="text" name="name" placeholder="name"><br></br>
      <input type="text" name="surname" placeholder="surname"><br></br>
      <input type="text" name="password" placeholder="password"><br></br>
      <input type="text" name="matchingPassword" placeholder="password"><br></br>

      <button type="submit">Добавить</button><br></br>
    </form>
  </div>

</body>
</html>